---
import {Image} from 'astro:assets';
import HtmlFirstImage from '../assets/html-first.svg';
import CpuImage from '../assets/cpu.svg';
import DarkLightImage from "../assets/dark-light.svg";
import MobileFirstImage from "../assets/mobile-first.svg";
---
<div class="container mt-6 mb-6">
    <div class="display4 mt-0">Components</div>
    <div class="text-leader2 mt-2">
        Metro UI includes 150+ ready-to-use awesome web components.
        The components are designed in such a way that even without knowing JavaScript, you can create interactive, high-performance web applications that will
        impress with their functionality.
    </div>
    <div class="row mt-4">
        <div class="cell-fs-6 cell-ld-4 cell-lg-3">
            <div class="lib-part-box">
                <Image src={HtmlFirstImage} alt="Html-first Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                <div class="lib-part-name">
                    HTML-First
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-ld-4 cell-lg-3">
            <div class="lib-part-box">
                <Image src={CpuImage} alt="Cpu Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                <div class="lib-part-name">
                    Optimized for Performance
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-ld-4 cell-lg-3">
            <div class="lib-part-box">
                <Image src={DarkLightImage} alt="Dark Light Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                <div class="lib-part-name">
                    Dark &amp; Light Themes
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-ld-4 cell-lg-3">
            <div class="lib-part-box">
                <Image src={MobileFirstImage} alt="Mobile First Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                <div class="lib-part-name">
                    Mobile First &amp; Responsive
                </div>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <div class="display3">For any purpose</div>
        <div class="text-leader2 mt-2">
            Metro UI components are versatile building blocks for any web project.
            From simple websites to complex web applications, you'll find components for navigation, data display, forms, dialogs, notifications, and more.
            Each component is customizable and can be easily integrated into your existing workflow.
        </div>
    </div>
    <div class="row mt-10">
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Common CSS</h2>
                <div>
                    Essential CSS utilities and helpers including typography, colors, borders, effects, positioning, and layout classes for consistent styling
                    and
                    rapid development.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Common JS</h2>
                <div>
                    Essential JavaScript utilities and helpers including DOM manipulation, event handling, AJAX requests, animations, and utilities for enhanced
                    interactivity and dynamic functionality.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Grid system</h2>
                <div>
                    Flexible and responsive grid system built on CSS Flexbox, offering easy layout control with rows and cells for seamless content
                    organization across different screen sizes.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Navigation</h2>
                <div>
                    Powerful navigation components including app bars, hamburger menus, side panels, and tabs for seamless user experience and intuitive
                    interface organization.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Information</h2>
                <div>
                    Comprehensive data visualization and information display components including dialogs, notifications, tables, lists, cards, and charts for
                    effective
                    presentation of your data and content.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Widgets</h2>
                <div>
                    Interactive and versatile widget components including calendars, timers, gauges, streamers, chat, wizards, progress and activities, etc...
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>Forms</h2>
                <div>
                    Comprehensive form components with built-in validation, including input fields, selectors, switches, and custom controls for seamless
                    user input and data collection.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start flex-justify-start">
                <h2>UI Elements</h2>
                <div>
                    Essential UI components including buttons, badges, cards, tiles, splitters, accordions, treeview, listview, dialogs, and tooltips for
                    creating
                    engaging and interactive user interfaces
                    with consistent design patterns.
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-10">Specialized libraries</h2>
    <div class="text-leader2">
        Metro UI provides a collection of specialized libraries for specific functionality. Each library is focused on a particular aspect of web development,
        from DOM manipulation to color management. These libraries can be used independently or together to enhance your web applications with powerful,
        optimized features.
    </div>
    <div class="row mt-4">
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/dom" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Dom</h2>
                <div>
                    Work with DOM.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/datetime" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Datetime</h2>
                <div>
                    Work with date and time.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/string" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">String</h2>
                <div>
                    Work with strings.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/farbe" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Farbe</h2>
                <div>
                    Work with color.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/guardian" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Guardian</h2>
                <div>
                    Validate user input.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/model" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Model</h2>
                <div>
                    Reactive DataModel.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/router" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Router</h2>
                <div>
                    Simple Router for SPA.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/html" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Html</h2>
                <div>
                    HTML-in-JS.
                </div>
            </div>
        </div>
        <div class="cell-fs-6 cell-md-3 cell-xl-2">
            <div class="lib-part-box flex-align-start">
                <div class="pos-absolute" style="top: 8px; right: 8px;">
                    <a href="https://github.com/olton/hooks" target="_blank" class="no-decor"><span class="mif-github fg-white"></span></a>
                </div>
                <h2 class="mt-0">Hooks</h2>
                <div>
                    Hooks as in React.
                </div>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <a href="https://panda.metroui.org.ua" class="button pill-button bg-default">
            View Demo
            <span class="icon mif-arrow-right"></span>
        </a>
    </div>
</div>
