---
import {Image} from "astro:assets";
import CdnImage from "../assets/cdn.svg";
import NpmImage from "../assets/npm.svg";
import DownloadImage from "../assets/download.svg";
import NugetImage from "../assets/nuget.svg";
import EsbuildImage from "../assets/esbuild.svg";
import ParcelImage from "../assets/parcel.svg";
import RollupImage from "../assets/rollup.svg";
import ViteImage from "../assets/vite.svg";
import WebpackImage from "../assets/webpack.svg";
---
<div class="container mt-6 mb-6">
    <div class="row">
        <div class="cell-md-6">
            <div class="row">
                <div class="cell-fs-6 cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={CdnImage} alt="CDN Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            CDN
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6  cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={NpmImage} alt="NPM Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            NPM Registry
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6 cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={NugetImage} alt="Nuget Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Nuget
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6 cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={DownloadImage} alt="Download Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Download from GitHub
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-md-6 pl-10-md">
            <div class="display4 mt-0">Any Started</div>
            <div class="text-leader2 mt-2">
                Jump right into building with Metro UI — use the CDN, install it via package manager, or download the source code.
            </div>
            <div class="mt-6">
                <a href="https://v5.metroui.org.ua/getting-started/download/" class="button pill-button alert">Read More <span class="mif-arrow-right icon"></span></a>
            </div>
        </div>
    </div>
    
    <div class="mt-20">
        <h1>Use the package manager?</h1>
        <div class="text-leader2">
            Create your own awesome set of Metro UI components with your favorite bundler:
        </div>
        <div class="row mt-10">
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={EsbuildImage} alt="esbuild Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Esbuild
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={ParcelImage} alt="Parsel Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Parsel
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={RollupImage} alt="Rollup Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Rollup
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={ViteImage} alt="Vite Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Vite
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={WebpackImage} alt="Webpack Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Webpack
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>