---
import { Code } from 'astro:components'
import {Image} from "astro:assets";
import CdnImage from "../assets/cdn2.svg";
import NpmImage from "../assets/npm.svg";
import DownloadImage from "../assets/download.svg";
import NugetImage from "../assets/nuget.svg";
import EsbuildImage from "../assets/esbuild.svg";
import ParcelImage from "../assets/parcel.svg";
import RollupImage from "../assets/rollup.svg";
import ViteImage from "../assets/vite.svg";
import WebpackImage from "../assets/webpack.svg";
import Cdn2Image from "../assets/cdn2.svg";
import VscImage from "../assets/vsc.svg";
---
<div class="container mt-6 mb-6 scroll-target" id="started">
    <div class="row">
        <div class="cell-md-6 pr-10-md">
            <div class="display4 mt-0">Any Started</div>
            <div class="text-leader2 mt-2">
                Jump right into building with Metro UI — use the CDN, install it via package manager, or download the source code.
            </div>
        </div>
        <div class="cell-md-6">
            <div class="row">
                <div class="cell-fs-6 cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={CdnImage} alt="CDN Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            CDN
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6  cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={NpmImage} alt="NPM Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            NPM
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6 cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={NugetImage} alt="Nuget Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Nuget
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6 cell-ld-4">
                    <div class="lib-part-box">
                        <Image src={DownloadImage} alt="Download Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            GitHub
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-20">
        <div class="row">
            <div class="cell-md-6 flex-center d-none d-flex-md">
                <Image src={Cdn2Image} alt="CDN Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e); height: 300px; width: 300px"/>
            </div>
            <div class="cell-md-6">
                <h1>Want to get started quickly?</h1>
                <div class="text-leader2">
                    <p>Use <span class="fg-red text-weight-9">pre-compiled</span> Metro UI with CDN. It is enough to add styles and javaScript part by several teams to your page.
                        CDN for Metro UI is provided by <a href="https://keycdn.com"><span class="text-weight-9">KeyCDN</span></a>.
                    <p>KeyCDN is a high performance content delivery network that has been built for the future. It only takes a few minutes to start delivering content to your users at a blazing fast speed.
                </div>
                <div class="mt-4">
                    <a href="https://v5.metroui.org.ua/getting-started/download/" class="button pill-button bg-default">
                        <span class="caption">Read More</span>
                        <span class="icon mif-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-20 bg-pattern-grid p-6 p-10-md">
        <div class="row">
            <div class="cell-md-6">
                <h1>Developing on Visual Studio?</h1>
                <div class="text-leader2">
                    <p>Use a special Metro UI <a href="https://www.nuget.org/packages/metroui"><span class="text-weight-9">package</span></a> for Nuget.</p>
                    <p>Nuget is a package manager for .NET. It allows developers to create and use .NET useful libraries, as well as provide common access to them.</p>
                    <p>We creating package for each Metro UI version.</p>
                </div>
                <div class="mt-4">
                    <a href="https://www.nuget.org/packages/metroui" class="button pill-button bg-default">
                        <span class="icon mif-download"></span>
                        <span class="caption">Get Metro UI</span>
                    </a>
                </div>
            </div>
            <div class="cell-md-6 flex-center d-none d-flex-md">
                <Image src={VscImage} alt="CDN Image" style="height: 300px; width: 300px"/>
            </div>
        </div>
    </div>
    
    <div class="mt-20">
        <h1>Use the package manager?</h1>
        <div class="text-leader2">
            Install Metro UI with a command:
        </div>
        <div class="mt-4 mb-4" data-role="package-manager" data-package="@olton/metroui"></div>
        <div class="text-leader2">
            ...And then create your own awesome set of Metro UI components with your favorite bundler:
        </div>
        <div class="row mt-4">
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={EsbuildImage} alt="esbuild Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Esbuild
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={ParcelImage} alt="Parsel Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Parsel
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={RollupImage} alt="Rollup Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Rollup
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={ViteImage} alt="Vite Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Vite
                    </div>
                </div>
            </div>
            <div class="cell-fs-6 cell-ld-one-fifth">
                <div class="lib-part-box">
                    <Image src={WebpackImage} alt="Webpack Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                    <div class="lib-part-name">
                        Webpack
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="mb-4">
                To make it easier to understand how to use Metro UI with any bundlers, I created a special demo repository on GitHub, which provides examples of using different bundlers to build your own Metro UI assembly.
            </div>
            <a href="https://github.com/olton/metro4-bundlers" class="button pill-button bg-default">
                <span class="icon mif-github"></span>
                <span class="caption">View Demo Repository</span>
            </a>
        </div>
    </div>
</div>