---
import {Image} from 'astro:assets';
import CssImage from "../assets/css.svg";
import JSImage from "../assets/javascript.svg";
import LibImage from "../assets/module.svg";
import ComponentsImage from "../assets/components.svg";
import IconsImage from "../assets/icons.svg";
import StyleImage from "../assets/ideas.svg";
---
<div class="container mt-20">
    <div class="row">
        <div class="cell-md-6 pr-10-md">
            <div class="display4">Library Structure</div>
            <div class="text-leader2 mt-2">
                Metro UI offers the developer: common styles and useful javascript functions, 9 specialized modules, and 100+ ready to use components. 
            </div>
            <div class="text-leader2 mt-2">
                Metro UI contains the Dom module for interacting with the DOM, modules for working with dates, strings, color and more... 
            </div>
            <div class="text-leader2 mt-2">
                All parts are written by the same author, so Metro UI has <span class="text-weight-9 fg-red">zero-dependency</span>.
            </div>
            <div class="mt-6">
                <a href="https://github.com/olton/metroui" class="button pill-button large alert" target="_blank" rel="noopener">
                    <span class="mif-github icon"></span>
                    <span class="caption">Download Metro UI</span>
                </a>
            </div>
        </div>
        <div class="cell-md-6">
            <div class="row">
                <div class="cell-fs-6">
                    <div class="lib-part-box">
                        <div class="lib-part-number">1</div>
                        <Image src={CssImage} alt="Common CSS" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Common CSS
                        </div>
                        <div class="text-center reduce-1 mt-4 d-none">
                            Module contain styles for: display, flex, border, cursor, floating, sizing and positioning, typography, and base themes colors.
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6">
                    <div class="lib-part-box">
                        <div class="lib-part-number">2</div>
                        <Image src={JSImage} alt="Common JS" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Common JS
                        </div>
                        <div class="text-center reduce-1 mt-4 d-none">
                            Module contain a lot of usefulness functions, such as an extended list of type and condition checking functions, css functions, and more other.
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6">
                    <div class="lib-part-box">
                        <div class="lib-part-number">3</div>
                        <Image src={LibImage} alt="Libraries" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Special Libs
                        </div>
                        <div class="text-center reduce-1 mt-4 d-none">
                            Module contain a lot of classes and functions to work with: date and time, strings, colors, DOM, animation routines, router, data model, and user input (validation).
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6">
                    <div class="lib-part-box">
                        <div class="lib-part-number">4</div>
                        <Image src={ComponentsImage} alt="Components" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Web Components
                        </div>
                        <div class="text-center reduce-1 mt-4 d-none">
                            Module contain more than 150 ready to use web components for almost all cases: inputs, cards, menus, and others.
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6">
                    <div class="lib-part-box">
                        <div class="lib-part-number">5</div>
                        <Image src={IconsImage} alt="Icons" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            Icons
                        </div>
                        <div class="text-center reduce-1 mt-4 d-none">
                            Metro Icons Font includes 800+ useful icons for your application.
                        </div>
                    </div>
                </div>
                <div class="cell-fs-6">
                    <div class="lib-part-box">
                        <div class="lib-part-number">6</div>
                        <Image src={StyleImage} alt="Ideas" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
                        <div class="lib-part-name">
                            New Ideas...
                        </div>
                        <div class="text-center reduce-1 mt-4 d-none">
                            We have many new ideas...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
